@import "simple-grid";

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex;
    background-color:#fff;
    @include box-shadow(1);
    .container{
        min-height: 4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/************* Menu section ************/
nav{
    .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .menu-item{
            padding:0 0.5em;
            text-align: center;
        }
        .has-child{
            position: relative;
            cursor: pointer;
            &:hover{
                border-radius: 5px 5px 0 0;
                & > .sub-menu{
                    visibility: visible;
                }
            }
        }
        .sub-menu{
            position: absolute;
            top:150%;
            left:-50%;
            border-radius: 5px;
            display: block;
            visibility: hidden;
            background-color:#fff;
            border-bottom: 5px solid black;
            @include box-shadow(5);
            transition: visibility 0.3s;
            .sub-menu-item a{
                display: block;
                padding: 1em 2em;
            }
        }
    }
}
/*************** End Menu Section *************/

main{
    display: flex;
    flex-grow: 1;
    margin:2em 0;
}

footer{
    @include box-shadow(2);
    .container{
        display: flex;
        align-items: center;
        min-height: 2em;
    }
}